body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(#156159, #040724);
  font-family: 'Ysabeau SC', sans-serif;
  color: #ccc;
  align-items: center;
  justify-content: center;
}
.container {
  overflow: visible;
  display: flex;
  flex-direction: column;
  color: #ccc;
  font-family: 'Ysabeau SC', sans-serif;
};
.jumbo-index {
  display: block;
  align-items: center;
  color: #ccc;
}
.jumbo-index h1 {
  color: #EE9322;
}
.shade {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  height: 15rem;
  color: #ccc;
  font-family: 'Ysabeau SC', sans-serif;
}
.foot-css {
  text-decoration: none;
  color: #D83F31;
}
.tiktok-div {
  margin-left: auto;
  margin-right: auto;
}
.my-pic {
  margin: 3rem auto 1rem;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 14rem;
  border: 6px solid #FFA500;
 
}
.container.pseudio {
  margin: 4rem auto 1rem;
  max-width: calc(100% - 4rem);
  width: auto;
}
.calendar-container { 
  background: #156159;
  border-radius: 10px;
  padding-left: 0;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}
.calendar-header {
  background-color: #EE9322;
}
.calendar-container header {
  display: flex;
  align-items: center;
  padding: 25px 30px 20px;
  justify-content: space-between;
}
header .calendar-navigation {
  display: flex;
}
header .calendar-navigation span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  user-select: none;
  color: #176b63;
  font-size: 1.9rem;
}
.calendar-navigation span:last-child {
  margin-right: 10px;
  padding-left: 25px;
}
header .calendar-navigation span:hover {
  background: #f2f2f2;
}
header .calendar-current-date {
  font-weight: 500;
  font-size: 2rem;
  color: #176b63;
}
.calendar-body {
  padding: 10px;
  background-color: #7b7e7d;
  color: #fff;
}
.calendar-body ul {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
}
ol,
ul {
  padding-left: 2px;
}
.calendar-body .calendar-dates {
  margin-bottom: 10px;
}
.calendar-body li {
  width: calc(100% / 7);
  font-size: 1.07rem;
  color: #fff;
}
.calendar-body .calendar-weekdays li {
  cursor: default;
  font-weight: 500;
}
.calendar-body .calendar-dates li {
  height: 5rem;
  padding-top: 1.6rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.calendar-dates li {
  position: relative;
  z-index: 1;
  cursor: pointer;
  border: 1px solid #ccc; /* Add border for gridlines */
  border-radius: 4px; /* Add some border radius for a rounded appearance */
}
.calendar-dates li.inactive {
  color: #aaa;
}
.calendar-dates li.active {
  color: #fff;
}
/*this is for the round date markers*/
.calendar-dates li::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.calendar-dates li.active::before {
  background: #EE9322;
}
.calendar-dates li:not(.active):hover::before {
  background: #e4e1e1;
}
.calendar-dates li.busy-date::before {
  background: #D83F31; /* Change this to your desired color */
}
.calendar-dates li.current-and-busy-date::before {
  background: #EE9322;
  border: 4px solid #D83F31;
}

.navbar a.nav-link:hover {
  color: #EE9322; /* Change to the desired color for hovered links */
}
/* Style for active (current page) link */
.navbar a.nav-link.active {
  color: #ff5100e8; /* Change to the desired color for the active link */
}
.navbar a {
  color:#FFA500;
  text-decoration: none;
  padding: 0 4%;
  font-size: 1.7rem;
  z-index: 999; 
}
.navbar {
  background-color: #176b63;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
